<div class="container">
	<h3>This is a list of this team's events:</h3>
	{{events}}
	{{#each events}}

	<ul>
		<li>{{homeTeam}} vs. {{awayTeam}}</li>
		<ul>
			<li>{{date}}</li>
			<li>{{time}}</li>
		</ul>
	</ul>
	{{/each}}
</div>