  <div class="page-header center">
    <h1>Edit Your User Profile</h1>
  </div>
  {{!-- <form id="edit-user-form" method="POST" action="/users/{{user._id}}?_method=PUT"> --}}
  <form id="edit-user-form" method="POST" action="/users/{{user._id}}/edit">
    {{!-- <div class="form-group col-md-4 form-centered">
      <input class="form-control" id="user-email" name="email" type="text" value="{{user.email}}" placeholder="email" />
    </div> --}}
    <div class="form-group col-md-4 form-centered">
      <h3 id="user-email">Email: {{user.fb.email}}</h3>
    </div>
    <div class="form-group col-md-4 form-centered">
      <textarea class="form-control" id="user-about" name="about" type="text" value="{{user.about}}" placeholder="write something about yourself">{{user.about}}</textarea>
    </div>
    <div class="form-group col-md-4 form-centered">
      <input class="form-control" id="user-picture" name="picture" type="text" value="{{user.picture}}" placeholder="image URL" />
    </div>
    <div class="form-group col-md-4 form-centered">
      <input class="form-control" id="user-favorites" name="favorites" type="text" value="{{user.favorites}}" placeholder="favorites" />
    </div>
    <div class="form-group col-md-4 form-centered">
      <input class="btn btn-primary col-md-12" type="submit" value="UPDATE PROFILE" />
    </div>
  </form>

  <form id="delete-user-form" method="POST" action="/users/{{user._id}}/edit/?_method=DELETE">
    <div class="form-group col-md-4 form-centered">
      <input class="btn btn-primary col-md-12" type="submit" value="DELETE PROFILE" />
    </div>
  </form>